---
title: About Johannes Ippen
permalink: "/about/"
layout: default
---

.about
  %iframe.video{ src: "https://www.youtube-nocookie.com/embed/d29_KlRt2Nk?si=ozmJpIXe1A849YlA&amp;controls=0", allow:  "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", frameborder: "0", referrerpolicy: "strict-origin-when-cross-origin", allowfullscreen: "" }
  .text-content
    %h2 Johannes Ippen is the founder of Human&nbsp;Deluxe, a Design Studio based in Berlin.
    %p Johannes Ippen is a designer and author from Berlin. He is currently running Human Deluxe, an Experience Design Studio & consultancy focussing on Human-Brand relations.
    %p Prior to that, he was responsible for the Product Marketing at mobile games developer Wooga, creator of hit games such as Jelly Splash, Pearl&rsquo;s Peril and Diamond Dash. 
    %p As founder of the Thanksalot Design Collective, he has created and launched several successful products like the Aside Magazine, MagazineGrid and Graphical Cooking. 
    %p Johannes has written four bestselling books about digital product design and development, published at Rheinwerk Verlag. He teaches UX design and information architecture at Design Akademie Berlin, where he also graduated in 2009.
    %p The native Berliner likes French punk rock, well-designed infographics (preferably about food) and really strong espresso.

:css
  .about { padding: 10rem 4vw 4vw; }
  .video { width: 100%; aspect-ratio: 16 / 9; }
  
