---
title: Articles
permalink: /articles/
layout: precise
---

.header
  %h2 Popular Articles

{% assign featured_posts = site.posts | where: 'featured', true %}
.featured
  %br/
{% for post in featured_posts %}
  %a.block{ href: '{% if post.weblink %}{{ post.weblink }}{% else %}{{ post.url }}{% endif %}' }
    %img{ src: '{% if post.image %}{% if forloop.index <= 1 %}{{ post.image | resize:1080,600 }}{% else %}{{ post.image | resize:440,224 }}{% endif %}{% else %}/img/dots.png{% endif %}' }
    .block.meta
      .tag.outline Article
      .block.text
        .title {{ post.title }}
        .desc {{ post.excerpt }}
{% endfor %}


.articles
  %h2 All Articles
{% for post in site.posts %}
  %a.block{ href: '{% if post.weblink %}{{ post.weblink }}{% else %}{{ post.url }}{% endif %}' }
    %img{ src: '{% if post.image %}{{ post.image | resize:440,224 }}{% else %}/img/dots.png{% endif %}' }
    .block.meta
      .tag.outline Article
      .block.text
        .title {{ post.title }}
        .desc {{ post.excerpt }}
{% endfor %}

:css
  .header { padding: 20rem 5vw 0;  }
  .featured { margin: 0.83rem 0; padding: 5vw; }
  .articles { display: grid; gap: 0; grid-template-columns: repeat(1, 1fr); margin: 2vw; }  
  @media(min-width: 35rem) {
    .articles { grid-template-columns: repeat(2, 1fr); }  
  }
  @media(min-width: 66rem) {
    .articles { grid-template-columns: repeat(3, 1fr); }  
  }
  .articles h2 { border-top: 1px solid rgba(0,0,0,.2); margin: 2vw; padding-top: 1rem; opacity: .8; }
  .articles a.block { padding: 2vw; }
  .articles a.block:hover { background: #fff; }
  .articles a.block img { width: 100%; aspect-ratio: 16/9; object-fit: cover; }
  .featured h2 { padding: 0; background: none; color: inherit; font-weight: 700; font-size: 4rem; margin: 0 0 5rem; }