---
title: Blog
permalink: /blog/
layout: default
---
<section class="featured">
  <h1>#Writing</h1>
  <div class="blog-item article-feature">
    <a href="{{ site.posts[0].url }}">
      <img src="{% if site.posts[0].image %}{{ site.posts[0].image }}{% else %}/img/dots.png{% endif %}">
      <span class="blog-item-info">
        <strong class="blog-item-date">Latest Post</strong>
        <strong>{{ site.posts[0].title }}</strong>
        <span>{{ site.posts[0].excerpt }}</span>
        <span class="btn">Read Now &rarr;</span>
      </span>
    </a>
  </div>
  <div class="blog-item side-feature">
    <a href="http://www.webfatale.com">
      <img src="/img/dots.png">
      <span class="blog-item-info">
        <strong class="blog-item-date">Latest Book</strong>
        <strong>Web Fatale</strong>
        <span>How to create Websites that you can’t resist? My latest book explores how behavioural psychology help successful websites to become seductive.</span>
        {% include social-amazon.svg %}
      </span>
    </a>
  </div>
  <hr>
</section>
<section class="blog">
{% for post in site.posts %}
<div class="blog-item">
  <a href="{% if post.weblink %}{{ post.weblink }}{% else %}{{ post.url }}{% endif %}">
    <img src="{% if post.image %}{{ post.image }}{% else %}/img/dots.png{% endif %}">
    <span class="blog-item-info">
      <strong class="blog-item-date">{% if post.medium %}{{ post.date | date_to_string }} on {{ post.medium }}{% else %}{{ post.date | date_to_string }}{% endif %}</strong>
      <strong>{{ post.title }}</strong>
      <span>{{ post.excerpt }}</span>
    </span>
  </a>
</div>
{% endfor %}
<hr>
</section>
<style>
  .books {
    background: #D61D7D;
    color: #fff;
  }
  .book-wrapper {
    display: flex;
    margin: 30px;
    vertical-align: middle;
  }
  .book-item {
    width: 20%;
    padding: 10px;
  }
  .book-item img {
    width: 100%;
//    box-shadow: 0 20px 30px rgba(0,0,0,.1);
  }
  .book-item h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .book-item p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 20px 0;
    text-align: center;
  }
  .book-item:first-child {
    width: 35%;
  }
  .book-item:nth-child(2) {
    width: 22%;
  }
</style>
<section class="books">
  <h1>#Books</h1>
  <div class="book-wrapper">
    <div class="book-item">
      <img src="/img/blog/9783836238984_800.png">
      <h2>Web Fatale</h2>
      <p>How to create Websites that you can’t resist? My latest book explores how behavioural psychology help successful websites to become seductive. Published in 2016.</p>
    </div>
    <div class="book-item">
      <img src="/img/blog/9783836231930_800.png">
      <h2>Infografiken</h2>
      <p>Iconic compendium by renowned dpa Art Director Raimar Heber. I contributed a chapter about digital infographics. Published in 2016.</p>
    </div>
    <div class="book-item">
      <img src="/img/blog/9783836234856_800.png">
      <h2>Apps mit HTML5, CSS3 und JavaScript</h2>
      <p>Amazon bestseller about app design and development with HTML5, CSS3 and JavaScript. Published in 2012, updated and reissued in 2013 and 2015.</p>
    </div>
    <div class="book-item">
      <img src="/img/blog/9783836219822_800.png">
      <h2>Apps entwickeln mit HTML5 und CSS3</h2>
      <p>Design and develop digital magazines and web apps for iPhone, iPad and Android. Interactive DVD published in 2013.</p>
    </div>
  </div>
</section>