---
title: Impressum
permalink: "/impressum/"
layout: precise
lang: de
---

.legal
  %h2 Impressum
  %p Inhaltlich verantwortlich:
  %p
    Johannes Ippen
    %br>/
    Geusenstr. 8
    %br>/
    10317 Berlin
  %p
    E-Mail: 
    %a{href: "mailto:ich@johannesippen.com"} ich@johannesippen.com

  %p Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit.

:css
  .legal { padding: 10rem 4vw 4vw; min-height: 100vh; }
  .legal p { font-size: 1.5rem; margin-bottom: 1rem; font-weight: 400; letter-spacing: -.01rem; opacity: .8; }
  
