---
title: Talks
permalink: /talks/
layout: precise
---

.header
  %h2 Talks & Speaking Engagements

.talks
  .feature
    %img{ src: "/img/johannes-ippen-ted-talk.jpg" }
    .block.meta
      .block.text
        .tag.outline Featured Talk
        .title Humans, not Users: Why UX is a Problem
        .desc Great User Experience Design has become the driving force behind successful products – at the expense of happiness, mental health and purpose. It is time for UX design to step up and evolve.
      %a.button{ href: "https://www.youtube.com/watch?v=dpXBV3COwJM" } Watch on Youtube
  %ul{ title: '2023' }
    %li IGEL S&F Day
    %li GuideCom UX Day 2023
    %li Friends of Figma Berlin
  %ul{ title: '2021' }
    %li IBI Group Summit, Boston
  %ul{ title: '2020' }
    %li UX-CX Meetup, Ministry of Cyber and Digital Matters, Israel
  %ul{ title: '2019' }
    %li TEDx Youngstown 2019
    %li dpa Infografik Event 2019
  %ul{ title: '2018' }
    %li Beyond Tellerrand Berlin Opening 2018
    %li dpa client conference 2018
  %ul{ title: '2017' }
    %li Product Crunch 2017
    %li 
      %a{ href: 'https://dibiconference.com/' } dibi Newcastle 2017

  .feature
    %img{ src: "/img/talk-creative-morning.jpg" }
    .block.meta
      .block.text
        .tag.outline Featured Talk
        .title Creative Mornings Berlin
        .desc Web Fatale – or how to design seductive websites through design, fun and interaction.
      %a.button{ href: "https://www.youtube.com/watch?v=voXUr_TiZkg" } Watch on Youtube

  %ul{ title: '2016' }
    %li Creative Mornings Berlin 2016
    %li Beyond Tellerrand Berlin Opening 2016
  %ul{ title: '2015' }
    %li Open Web Space 2015
    %li Mobile App Europe 2015
  %ul{ title: '2014' }
    %li Webinale 2014
    %li up.front 2014
  %ul{ title: '2012' }
    %li Wooga Brownbag Talk 2012
    %li Webinale 2012
    %li Single Source Forum 2012
    %li iOS Developer Conference 2012
  %ul{ title: '2011' }
    %li Xinnovations 2011
    %li Fraunhofer Forum 2011
    %li Mobile Tech Con 2011

  .feature.booking
    %h2 Book me as a speaker for your event:
    %a.button{ href: "https://www.youtube.com/watch?v=dpXBV3COwJM" } Send me an Email

:css
  .header { padding: 20rem 5vw 0;  }
  .talks { padding: 4vw; }
  .talks ul { margin: 0 3rem 0 0; border-left: 1px solid rgba(17,34,51,.1); padding: 2.5rem; }
  .talks ul:before { content: attr(title); position: absolute; font-size: .75rem; display: inline-block; line-height: 1;  border-radius: 2rem; border: .0625rem solid rgba(17,34,51,.1); padding: .3125rem .6875rem; background: #f2f2f2; color: rgba(17,34,51,.8); width: 2rem; margin-left: -4.25rem; text-align:center; }
  .talks ul li { padding-bottom: 1rem; }
  .talks ul li a, .talks ul li a:hover { display: inline; padding: 0; background: none; }
  
  .feature { background: #fff; padding: 2vw; display: flex; flex-direction: column; gap: 1vw; }
  .feature .block.meta { justify-content: space-between; padding: 1vw; }
  @media (min-width: 25rem) {
    .feature .block.meta { min-width: 20rem; }
  }
  .feature .block.text { font-size: 1.5rem; font-weight: 500; letter-spacing: -.03rem; gap: 0; }
  .feature .desc { opacity: .5; }
  .feature .tag { margin: 0 0 1rem -.25rem; }
  .feature .button { background: #E83324; margin-left: -.25rem; }
  .feature.booking { align-items:flex-start; justify-content:flex-start; gap: 2rem; }
  .feature.booking h2 { margin: 0; max-width: clamp(18.75rem, 40vw, 40rem); }
  @media(min-width: 60rem) {
    .talks ul { margin: 0 auto; }
    .feature { flex-direction: row; }
    .feature img { flex-grow: 2; min-width: 60%; object-fit: cover; }
    .feature.booking { flex-direction: column; }
  }