%script{charset: "UTF-8", src: "//www.privacypolicies.com/public/cookie-consent/4.0.0/cookie-consent.js", type: "text/javascript"}
%script{charset: "UTF-8", type: "text/javascript"}
  :cdata
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"website_name":"Johannes Ippen"});
    });
:css
  .privacypolicies-com---nb-simple { width: 30vw; }