.footer.branded
  .row
    .block
      %h3 Johannes Ippen
      %p Designer. Author. TEDx-Speaker. Co-founder of Human Deluxe Design Studio.
      %a.box
        .box-label Book me as a Speaker
    %ul
      %li
        %h3 Books
      %li
        %a{ href: '#' } Web Fatale
      %li
        %a{ href: '#' } Infografik
      %li
        %a{ href: '#' } Apps mit HTML 5, CSS3 & JavaScript
    %ul
      %li
        %h3 Popular Articles
      %li
        %a{ href: '#' } Deluxe Experiences
      %li
        %a{ href: '#' } Love in UX Design
      %li
        %a{ href: '#' } Humans, not Users
      %li
        %a{ href: '#' } The Rise of Tech Brutalism
    %ul
      %li
        %h3 Talks
      %li
        %a{ href: '#' } TEDxYoungstown
      %li
        %a{ href: '#' } Creative Mornings Berlin
      %li
        %a{ href: '#' } dibi Newcastle
    %ul
      %li
        %h3 Interviews
      %li
        %a{ href: '#' } Erik&nbsp;Spiekermann
      %li
        %a{ href: '#' } Aaron&nbsp;Draplin
      %li
        %a{ href: '#' } Catt&nbsp;Small
      %li
        %a{ href: '#' } Khoi&nbsp;Vinh


:css 
  .footer.branded { background: #012; font-size: 80%; }
  .footer.branded h3 { color: gold; }
  .footer.branded a.box { background: gold; border: none; color: #123; }
  .footer.branded li a { max-width: 12rem; transition: color .3s ease-in-out; }
  .footer.branded li a:hover { color: gold; }