<footer class="contact">
	<div class="inner">
		<h2>Contact</h2>
		<a class="email" href="mailto:ich@johannesippen.com">ich@johannesippen.com</a>
		<div class="social">
      <a href="http://www.amazon.de/Johannes-Ippen/e/B0086506DW/">{% include social-amazon.svg %}</a><a href="https://twitter.com/johannesippen/">{% include social-twitter.svg %}</a><a href="https://dribbble.com/johannesippen">{% include social-dribbble.svg %}</a>
	</div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
	if((/johannesippen/).test(window.location.hostname)) {
	  _gaq.push(['_setAccount', 'UA-10162229-4']);
	  _gaq.push (['_gat._anonymizeIp']);
	  _gaq.push(['_trackPageview']);		
	}

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>