<footer class="contact">
	<div class="inner">
		<h2>Contact</h2>
		<a class="email" href="mailto:ich@johannesippen.com">ich@johannesippen.com</a>
		<div class="social">
      <a href="http://www.amazon.de/Apps-mit-HTML5-CSS3-JavaScript/dp/3836234858/">{% include social-amazon.svg %}</a><a href="https://twitter.com/presskind">{% include social-twitter.svg %}</a><a href="https://dribbble.com/johannesippen">{% include social-dribbble.svg %}</a>
	</div>
</footer>
<!-- script src="//use.typekit.net/wmm0mmy.js"></script>
<script>try{Typekit.load();}catch(e){}</script -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10162229-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>