<header>
  <nav>
    <ul>
      <li><a href="#news">Work</a></li>
      <li><a href="#videos">About</a></li>
      <li><h1>Johannes Ippen</h1></li>
      <li><a href="#photos">Author</a></li>
      <li><a href="#bio">Speaker</a></li>
    </ul>
  </nav>
</header>
<style>
	nav {
		margin-top: 50px;
	}
  nav ul {
    margin: 20px 0 10px;
    padding: 0;
    list-style: none;
		line-height: 40px;
  }
  nav li {
    display: inline-block;
  }
	nav h1 {
		font-weight: 400;
		font-size: 24px;
		margin: 0 30px;
		padding: 0;
	}
  nav a {
    display: block;
    margin: 0 10px;
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #222;
  }
</style>