%nav
  .text Johannes Ippen
  %ul.nav
    %li
      %a{ href: '#' } About
    %li
      %a{ href: '#' } Articles
    %li
      %a{ href: '#' } Talks
    %li
      %a{ href: '#' } Videos
    %li
      %a{ href: '#' } Publications
    %li
      %a{ href: '#' } Podcast

:css
  nav { position: absolute; display: flex; top: 0; left: 0; right: 0; padding: 4vw; gap: 3rem; align-items: center; }
  nav .text { font-size: 1.5rem; font-weight: 500; letter-spacing: -.05rem; }