%nav
  .text
    %a{ href: '/' }
      %img{ src: '/img/signature-test.png', alt: "Johannes Ippen" }
  %ul.nav
    %li
      %a{ href: '/about' } About
    %li
      %a{ href: '/articles' } Articles
    %li
      %a{ href: '/talks' } Talks
    %li
      %a{ href: '#' } Videos
    %li
      %a{ href: '#' } Publications
    %li
      %a{ href: '/podcast', lang: 'de' } Podcast

:css
  nav { position: absolute; display: flex; top: 0; left: 0; right: 0; padding: 4vw; gap: 3rem; align-items: center; }
  nav .text { font-size: 1.5rem; font-weight: 500; letter-spacing: -.05rem; }
  nav .text a { text-decoration: none; }
  nav .text a img { height: 4rem; }