%header
  %a{ href: '/' } <b>Johannes Ippen</b> Designer

:css
  header { position: fixed; top: 0; left: 0; }
  header a { display: block; text-decoration: inherit; color: inherit; padding: var(--sidepadding); font-size: .75rem; opacity: .8; }

%nav
  %details
    %summary Menu
    %ul
      %li
        %a{ href: '/' } About
      %li
        %a{ href: '/articles' } Articles
      %li
        %a{ href: '/books' } Publications
      %li
        %a{ href: '/talks' } Talks

:css
  nav { position: fixed; bottom: 1rem; left: 1rem; right: 1rem; display: flex; justify-content: center; color: #fff; font-size: 1.5rem; font-weight: 500; user-select: none; z-index: 1000; }
  nav details { position: relative; width: 12rem; }
  nav ul,
  nav li { padding: 0; margin: 0; list-style: none; width: 100%; }
  nav ul { position: absolute; bottom: 3.5rem; padding: 1rem 0; }
  nav ul, nav summary { border-radius: 1.5rem; overflow: hidden; background: #000; }
  nav a, nav summary { height: 3rem; line-height: 3rem; box-sizing: border-box; padding: 0 1rem; b }
  nav a { display: block; text-decoration: inherit; color: inherit; }
  nav a:hover { background: #fff; color: #000; }
  details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
  }
  details[open] summary {
    margin-top: .5rem;
  }
  details summary::marker { content: ''; }
  details summary:before { content: ' '; border-top: .5px solid #fff; border-bottom: .5px solid #fff; width: 1rem; height: .25rem; display:inline-block; margin-right: 1rem; margin-left: .5rem; vertical-align: middle; transition: height .3s ease-out; }
  details[open] summary:before { height: 0; }