<section class="signup" id="updates">
  <h2>Coming Soon?</h2>
  <label>Sign up now for new case studies and free downloads:</label>
  <form action="http://thanksalot.us3.list-manage1.com/subscribe/post?u=830819cae8586f7478973cdf8&amp;id=5658d8462a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="erik@spiekermann.com" required="">
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_830819cae8586f7478973cdf8_5658d8462a" value=""></div><button type="submit" name="subscribe" class="button btn">Sign up</button>
  </form>
</section>

