<section class="work">
{% for page in site.data.work %}
{% if page.image contains 'placehold.it' %}{% else %}
{% if page.permalink != '' %}
<div class="work-item">
	{% if page.permalink %}
	<a href="{{ page.permalink }}#content">
		{% if page.image %}
		<img src="{{page.image}}">
		{% endif %}
		<span class="work-item-info">
			<span cass="work-item-text">
				<strong>{{ page.title }}</strong>
				<span class="further">{{ page.oneline }}</span>
			</span>
			<span class="work-item-action">&rarr; Case Study</span>
		</span>
  </a>
	{% else %}
	<a href="/#updates" class="">
		{% if page.image %}
		<img src="{{page.image}}">
		{% endif %}
		<span class="work-item-info">
			<span cass="work-item-text">
				<strong>{{ page.title }}</strong>
				<span class="further">{{ page.oneline }}</span>
			</span>
		</span>
	</a>
  {% endif %}
</div>
{% endif %}
{% endif %}
{% endfor %}
<hr>
</section>