---
layout: default
---

<div class="article-header">
  {% for category in page.categories %}
    <span class="tag outline">{{ category }}</span>
    {% endfor %}
  <h1>{{ page.title }}</h1>
</div>

<div class="text-content">
  {{ content }}
</div>

<div class="call-to-action">
  <a class="follow" href="https://instagram.com/johannesippen">Follow +</a>
  <a class="follow youtube" href="https://www.youtube.com/johannesippen">Subscribe to Channel</a>
</div>

<style>
  .text-content { margin: 4vw auto; padding: 0 1rem 0 1rem; max-width: 35rem; }
  .text-content h1 { display: none; }
  .text-content ul li { list-style: square; margin-left: 1rem; }
  .text-content img, .text-content iframe { margin: 2rem 0; max-width: 100%; border: none; }
  .text-content hr { width: 50%; margin: 2rem 0; border: 0; border-top: 1px solid #ccc; }
  @media(min-width: 35rem) {
    .text-content img { margin: 2rem -2rem; width: calc(100% + 4rem); max-width: none; }
    .text-content h2 { width: 50%; }
  }
  .text-content p a:hover, .text-content li a:hover { background: #fc2; }
  .article-header { margin: 20rem auto 4rem; text-align: center; padding: 0; max-width: 60rem; }
  .article-header h1 { font-weight: 500; margin: 2rem 0; text-wrap: balance; }
  .call-to-action { text-align: center; }
  a.follow { display: inline-block; background: #121110; color: #fff; padding: .5rem 2rem; border-radius: 10rem; text-decoration: none; font-weight: 500; margin-left: auto; }
  a.follow.youtube { background: #FF011C; }
</style>
