<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <style>
      .blog-article {
        max-width: 30em;
        margin: 0 auto;
      }
      .blog-article img {
        width: 120%;
      }
      .blog-article p {
        font-family: Georgia, sans-serif;
      }
      .blog-article p a {
        color: #233;
        text-decoration: none;
        border-bottom: 1px solid #444;
        cursor: pointer;
      }
      .blog-article p a:hover {
        background: yellow;
        border-bottom: 1px solid yellow;
        cursor: pointer;
      }
    </style>

    {% include header.html %}

    <div class="page-content blog-article">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  </body>

</html>
