---
layout: precise
---

<div class="article-header">
  {% for category in page.categories %}
    <span class="tag outline">{{ category }}</span>
    {% endfor %}
  <h1>{{ page.title }}</h1>
</div>

<div class="text-content">
  {{ content }}
</div>

<style>
  .text-content { margin: 4vw auto; padding: 0 .5rem 0 1rem; }
  .text-content h1 { display: none; }
  .text-content ul li { list-style: square; margin-left: 1rem; }
  .article-header { margin:20rem auto 4vw; text-align: center; padding: 0; max-width: 60rem; }
  .article-header h1 { font-weight: 500; margin: 2rem 0; }
</style>
