---
layout: default
---

<div class="article-header">
  <h1>{{ page.title }}</h1>
  <div class="article-meta">
    <div class="article-concept">Concept 001</div>
    <div class="article-author">Author: Johannes Ippen</div>
    <div class="article-date">Release Date: {{ page.date }}</div>
  </div>
</div>

<section class="concept">
  {{ content }}
</section>

<style>
  table { font-size: 1.25rem; }
  td { border-top: 1px solid #807F7E; padding-right: 1rem; vertical-align: top; }
  th, td { padding: 1rem 0; }
  .concept { padding: var(--sidepadding); }
  .concept img, .concept iframe { margin: 2rem 0; border: none; }
  .concept hr { width: 50%; margin: 2rem 0; border: 0; border-top: 1px solid #ccc; }
  @media(min-width: 65rem) {
    .concept h2 { width: 50%; }
    .concept p,
    .concept table,
    .concept h2 { width: 45rem; margin-left: 20rem; }
    .concept img { margin-left: -20rem; min-width: calc(100vw - (var(--sidepadding) * 2));  }
  }
  .concept p a:hover, .concept li a:hover { background: #fc2; }
  .article-header { margin: 20rem var(--sidepadding) 4rem; text-align: center; padding: 0; border: 1px solid; }
  .article-header h1 { font-weight: 500; margin: 2rem 0; text-wrap: balance; padding: 2rem; }
  .article-meta { border-top: 1px solid; display: flex; }
  .article-author, .article-concept, .article-date { padding: 1rem;  }
  .article-author { border-left: 1px solid; border-right: 1px solid; }
</style>
